APP_ENV=production
APP_DEBUG=false
APP_TIMEZONE=Asia/Kolkata

DB_HOST=127.0.0.1
DB_PORT=3306
DB_DATABASE=replace_with_database_name
DB_USERNAME=replace_with_database_username
DB_PASSWORD=replace_with_database_password
DB_CHARSET=utf8mb4
